.header{border: 2px solid black;}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  line-height: 150%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: wheat;
}

.header h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

.header .social a {
  padding: 0 5px;
  color: #222222;
}

.left {
    border: 2px solid black;
  float: left;
  width: 180px;
  margin: 0;
  padding: 1em;
}

.content {
  margin-left: 190px;
  border-left: 1px solid #8f2a2a;
  padding: 1em;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #84e4e2;
  color: white;
  border-radius: 22px ;
}

li a:hover:not(.active) {
  background-color: #29292a;
  color: white;
}

.footer {
  padding: 55px 20px;
  background-color: #2e3550;
  color: white;
  text-align: center;
}
.btn{color: wheat;
background-color: black;
height: 3.6em;
border-radius: 100px;
width: 10em;}
footer{color: wheat;}
    footer a{color: aqua;}
    .footerlink li{padding:.6%}
    .footer{
      padding: 20px;
      text-align: center;
      background: #2e3550;
    }
    .header{
      background-color:#2e3550 
    }
    .navbar a{ padding:2em;
      color: aqua;
      text-decoration: none;
    }